$header-color: black;
$header-bg: lightgreen;
$header-second-color: black;

body > header {
	color: $header-color;
	background: $header-bg;

	h1 {
		margin: 0;

		ruby:lang(en) {
			> rp {
				display: inline;
				margin: 0 0.3em;
				font-size: 0.8em;
			}

			> rtc {
				font-size: 0.8em;
				color: inherit;
			}
		}
	}

	h2 {
		color: $header-second-color;
	}
}

body > nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

	> * {
		display: block;
	}

	&[hidden] {
		display: none;
	}
}
