[y-page="pageRomanQuestions"] {
	counter-reset: chapter;

	h3[itemprop="name"]::before {
		display: inline;
		content: counter(chapter) ". ";
		counter-increment: chapter;
	}

	p > ruby:not(:lang(en)) > rtc:lang(en),
	p > ruby:lang(en) > rtc:not(:lang(en)) {
		display: inline;
		margin-left: 0;
		color: inherit;
		font-size: inherit;
		font-style: italic;

		&::before {
			content: "(";
			font-style: normal;
		}

		&::after {
			content: ")";
			font-style: normal;
		}
	}
}
