[y-page="pageHomericHymns"] {
	counter-reset: chapter-homeric-hymns;

	aside {
		margin-top: 1em;
		margin-bottom: 1em;

		> dl {
			margin: 0;
		}
	}

	h3 {
		&::before {
			counter-increment: chapter-homeric-hymns;
			content: counter(chapter-homeric-hymns) ". ";
		}
	}

	h4 {
		margin-top: 1rem;
	}
}
