[y-page='pageHomericHymns'] {
	aside {
		margin-top: 1em;
		margin-bottom: 1em;

		> dl {
			margin: 0;
		}
	}

	counter-reset: chapter;

	h3 {
		&::before {
			counter-increment: chapter;
			content: counter(chapter) ". ";
		}
	}
}
