[y-page="pageTheReligionOfNuma"] {
	display: flex;
	flex-flow: column nowrap;

	[itemtype~="https://schema.org/PublicationVolume"] {
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;

		> section,
		> ol {
			flex-grow: 1;
		}
	}

	h2[itemprop="name"] > span {
		display: block;
		font-size: 0.7em;
		margin: 0.6em 0;
		text-align: center;
	}

	p {
		line-height: 1.5;
	}

	p > ruby:lang(en) > rtc:not(:lang(en)) {
		display: inline;
		margin-left: 0;
		color: inherit;
		font-size: inherit;
		font-style: italic;

		&::before {
			content: "(";
			font-style: normal;
		}

		&::after {
			content: ")";
			font-style: normal;
		}
	}

	@media #{$lg} {
		aside {
			float: right;
			margin-left: 1em;
			margin-bottom: 1em;
		}
	}
}
