[y-page="annals"] {
	h3 {
		margin-bottom: 1em;
		counter-reset: h4;

		> ruby {
			display: contents;

			> rtc {
				display: block;
				font-weight: normal;
				font-size: 0.8em;
			}
		}
	}

	h4 {
		margin-bottom: 1em;
		text-indent: 3em;
		counter-increment: h4;

		&::before {
			display: inline;
			content: counter(h4, upper-roman) ". ";
		}
	}

	table {
		border-collapse: collapse;

		td,
		th {
			border: 1px solid grey;
			padding: 2px 5px;
			vertical-align: top;
		}

		th > small {
			font-weight: normal;
		}

		+ h3,
		+ h4 {
			margin-top: 2em;
		}

		ul {
			margin: 0;
		}
	}

	ruby:lang(zh) > rtc:lang(en)::before {
		display: inline;
		content: "\a0— ";
	}

	ruby:lang(la) > rtc:lang(en) {
		&::before {
			display: inline;
			content: "(";
		}

		&::after {
			display: inline;
			content: ")";
		}
	}
}
