[y-page='pageAesop'] {
	aside {
		margin-top: 0;
		margin-bottom: 1em;
	}

	counter-reset: chapter;

	h3 {
		margin-bottom: 1em;
		text-align: center;

		&::before {
			counter-increment: chapter;
			content: counter(chapter) ". ";
		}

		@media #{$lg} {
			margin-left: 1em;
			text-align: left;
		}
	}

	p {
		text-align: justify;
	}

	section > p,
	ruby > p {
		margin-top: 0;
		margin-bottom: 0.5em;
		text-indent: 1em;

		@media #{$lg} {
			margin: 1em 0;
			text-indent: 0;
		}
	}

	rtc > p {
		margin: 0 1em 0.5em 3em;

		@media #{$md} {
			margin: 0 auto 0.5em;
			max-width: 90%;
		}
	}
}
