[y-page="pageOrphicHymns"] {
	counter-reset: chapter-orphic-hymns -1;

	aside {
		margin-top: 1em;
		margin-bottom: 1em;

		> dl {
			margin: 0;
		}
	}

	h3 {
		&::before {
			counter-increment: chapter-orphic-hymns;
			content: counter(chapter-orphic-hymns) ". ";
		}
	}

	h4 {
		margin-top: 1rem;
	}
}
