$sm: "(min-width: 0px)";
$md: "(min-width: 760px)";
$lg: "(min-width: 1000px)";
$xl: "(min-width: 1200px)";

$v-padding: 5px;
$h-padding: $v-padding * 2.5;

* { box-sizing: border-box; }

:root { font-family: 'Trebuchet MS', 'Open Sans', 'Helvetica Neue', sans-serif; }

html {
	height: 100%;
	width: 100%;
	background: whitesmoke;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	background: white;

	@media (min-width: 1201px) {
		border: solid black;
		border-width: 0 1px;
	}

	> header,
	> nav,
	> main,
	> footer {
		padding: $v-padding $h-padding;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2 {
	text-align: center;
}

a:link,
a:visited {
	color: dodgerblue;
}

main {
	@media #{$sm} {
		display: flex;
		flex-flow: column;

		aside {
			float: none;
			order: 1;
			margin: 0 -#{$h-padding};
			border: 10px solid gainsboro;
			padding: $v-padding $h-padding;
		}
	}

	@media #{$md} {
		display: block;

		aside {
			float: right;
			max-width: 310px;
			margin: 1em 0 0;
			border-style: solid;
			border-color: lightgrey lightgrey black black;
			border-width: 1px;
			padding: 10px 10px 1em 1em;
			text-align: justify;

			> ol {
				margin-bottom: 0;
			}
		}
	}
}
