@import "src/includes/include.scss";
$sm: "(min-width: 0px)";
$md: "(min-width: 760px)";
$lg: "(min-width: 1000px)";
$xl: "(min-width: 1200px)";
$link-color: dodgerblue;

$v-padding: 5px;
$h-padding: $v-padding * 2.5;

* { box-sizing: border-box; }

:root { font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", sans-serif; }

html {
	height: 100%;
	width: 100%;
	background: whitesmoke;
}

body {
	display: flex;
	flex-flow: column;

	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	background: white;

	@media (min-width: 1201px) {
		border: solid black;
		border-width: 0 1px;
	}

	> header,
	> nav,
	> main {
		padding: $v-padding $h-padding;
	}

	> main,
	#y-spinner {
		flex-grow: 1;
	}

	> footer {
		display: flex;
		border-top: 10px solid gainsboro;
		padding: 1em #{$h-padding};
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#y-spinner {
		font-size: 2rem;
		text-align: center;

		svg {
			display: block;
			margin: 20vh auto 0;
			max-width: 150px;
		}

		svg * {
			stroke-linejoin: round;
			stroke-linecap: round;
		}

		path {
			fill: none;
			stroke: black;
			stroke-width: 10px;
			opacity: 0.5;

			&:nth-of-type(odd) {
				animation: 2s linear infinite rotate;
				stroke: red;
			}

			&:nth-of-type(even) {
				animation: 3s linear infinite reverse rotate;
				stroke: gold;
			}
		}

		@keyframes rotate {
			from { transform: rotate(0deg); }
			to { transform: rotate(360deg); }
		}

		~ nav[y-component="topNav"] {
			display: none;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h2 {
	text-align: center;
}

a:link,
a:visited {
	color: $link-color;
}

main {
	aside {
		margin: 1em 0 0 0.5em;
		border-left: 2px solid lightgrey;
		padding: 0.3em 0.5em;

		+ h4 {
			margin-top: 1em;
		}

		> p:first-child,
		> dl:first-child {
			margin-top: 0;
		}

		> p:last-child,
		> dl:last-child {
			margin-bottom: 0;
		}
	}

	@media #{$sm} {
		display: flex;
		flex-flow: column;

		> aside {
			float: none;
			order: 1;
			margin: 0 -#{$h-padding};
			border: 10px solid gainsboro;
			padding: $v-padding $h-padding;
		}

		> footer {
			order: 2;
			margin: 0 -#{$h-padding};
			border-top: 10px solid gainsboro;
			padding: 1em #{$h-padding};
		}
	}

	@media #{$md} {
		display: block;

		aside {
			float: right;
			clear: right;
			max-width: 310px;
			margin: 1em 0 0 0.5em;
			border-style: solid;
			border-color: lightgrey lightgrey black black;
			border-width: 1px;
			padding: 10px 10px 1em 1em;
			text-align: justify;

			> ol {
				margin-bottom: 0;
			}
		}

		p + aside {
			margin-top: 0;
		}
	}
}
