ruby {
	&[hidden] {
		display: none !important;
	}

	&.revise {
		color: darkred;
	}

	:not(ol) > &:lang(en) {
		display: inline;
		display: contents;
	}

	&:lang(en) > rt {
		display: inline;
		font-size: 0.8em;
		color: grey;

		&::before {
			display: inline;
			content: ' (';
		}

		&::after {
			display: inline;
			content: ') ';
		}
	}

	rtc > & {
		display: inline;
		display: contents;

		> rtc:lang(en) {
			display: inline;

			&::before {
				display: inline;
				content: ' (';
			}

			&::after {
				display: inline;
				content: ')';
			}

			> abbr {
				font-style: italic;
			}
		}
	}

	&:lang(en) > rtc {
		font-size: 0.8em;
		color: grey;
	}

	ol > &,
	p > & {
		display: list-item;

		&[value]::marker {
			content: attr(value) '. ';
		}

		&:lang(en) > rtc {
			display: block;
			margin-left: 2rem;
		}
	}

	ruby > rt {
		display: inline;
		vertical-align: super;
		margin-left: 0.5em;
	}
}
