ruby {
	:not(ol) > &:lang(en) {
		display: inline;
		display: contents;
	}

	&:lang(en) > rt,
	> rtc:lang(en),
	> rt:lang(grc),
	> rt:lang(en),
	> rt:lang(la) {
		display: inline;
		font-size: 0.8em;
		color: grey;

		&::before {
			display: inline;
			content: ' (';
		}

		&::after {
			display: inline;
			content: ') ';
		}
	}

	ol > & {
		display: list-item;

		&:lang(en) > rtc:lang(grc),
		&:lang(en) > rtc:lang(la) {
			display: block;
			font-size: 0.8em;
			color: grey;
			text-align: right;
		}
	}
}
