[y-page="pageCreation"] [itemtype~="https://schema.org/PublicationVolume"] {
	counter-reset: sections;

	> section {
		counter-increment: sections;

		summary::before {
			display: inline;
			content: counter(sections, upper-roman) ". ";
		}
	}

	ruby:lang(en) > rtc:lang(en) {
		font-size: 0.7em;
		vertical-align: super;

		&::before {
			display: inline;
			content: "(";
		}

		&::after {
			display: inline;
			content: ")";
		}
	}
}
